@font-face {
    font-family: 'oswald';
    src: url('../../public/fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../public/fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --hunter-green: rgb(41, 130, 46);
    --light-green: rgb(233, 253, 232);
    --off-white: rgb(255, 253, 250);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
    background-color: var(--light-green);
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--hunter-green);
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--hunter-green);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: start;
    margin: 3em;
    padding: 2em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}

.custom-background {
    background-image: url('../../public/images/old-paper-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--off-white);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 5em;
    width: 90%;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5);
    background-color: var(--off-white)
}

.left {
    align-self: start;
    padding-right: 4em;
}

.right {
    align-self: end;
    padding-left: 4em;
}

.project-card-header > img {
    width: 80%;
    height: auto;
    filter: drop-shadow(0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5));
}

.project-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3em 0em;
}

.project-card-body {
    filter: drop-shadow(0em 0em 1em rgba(0, 0, 0, 0.5));
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 3em;
    padding: 2em;
    background-color: var(--off-white);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}

.skills {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 3em;
    background-color: var(--off-white);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 3em;
    width: 80%;
    margin: 3em 0em;
    padding: 2em;
    background-color: var(--off-white);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}